In [2]:
import pandas as pd
s1=pd.Series()
print(s1)
print(type(s1))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

C:\Users\azart\AppData\Local\Temp\ipykernel_24852\263796719.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s1=pd.Series()

In [4]:
import pandas as pd
import numpy as np
arr=np.array([10,20,30,40,50])
s1=pd.Series(arr)
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [5]:
data={'a':10,'b':20,'c':30}
s1=pd.Series(data)
print(s1)

a    10
b    20
c    30
dtype: int64

In [7]:
s1=pd.Series([10,20,30,40,50])
print(s1[1:4])

1    20
2    30
3    40
dtype: int64

In [ ]:
#DataFrame

In [8]:
listx=[10,20,30,40]
t1=pd.DataFrame(listx)
print(t1)

    0
0  10
1  20
2  30
3  40

In [9]:
data=[{'a':1,'b':2},{'a':2,'b':4,'c':8}]
table=pd.DataFrame(data)
print(table)

   a  b    c
0  1  2  NaN
1  2  4  8.0

In [10]:
data=[{'a':1,'b':2},{'a':2,'b':4,'c':8}]
table=pd.DataFrame(data,index=['first','second'])
print(table)

        a  b    c
first   1  2  NaN
second  2  4  8.0

In [13]:
data={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
table=pd.DataFrame(data)
print(table)

   one  two
a    1    1
b    2    2
c    3    3
d    4    4

In [ ]:
#DataFrame-Addition and deletion of columns

In [15]:
data={'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
table=pd.DataFrame(data)
print(table)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [21]:
data={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
table=pd.DataFrame(data)
table['three']=pd.Series([10,20,30],index=['a','b','c'])
print(table)

   one  two  three
a    1    1   10.0
b    2    2   20.0
c    3    3   30.0
d    4    4    NaN

In [17]:
del table['one']
print(table)

   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

In [19]:
table.pop('two')
print(table)

   three
a   10.0
b   20.0
c   30.0
d    NaN

In [ ]:
#Dataframe-Add and delete the row

In [22]:
print(table)

   one  two  three
a    1    1   10.0
b    2    2   20.0
c    3    3   30.0
d    4    4    NaN

In [23]:
print(table.loc['c'])

one       3.0
two       3.0
three    30.0
Name: c, dtype: float64

In [24]:
print(table.iloc[2])

one       3.0
two       3.0
three    30.0
Name: c, dtype: float64

In [25]:
data={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
table=pd.DataFrame(data)
table['three']=pd.Series([10,20,30],index=['a','b','c'])
print(table)
row=pd.DataFrame([[11,13],[17,19]],columns=['two','three'])
table=table.append(row)
print(table)

   one  two  three
a    1    1   10.0
b    2    2   20.0
c    3    3   30.0
d    4    4    NaN
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  4.0    4    NaN
0  NaN   11   13.0
1  NaN   17   19.0

C:\Users\azart\AppData\Local\Temp\ipykernel_24852\1416471002.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table=table.append(row)

In [26]:
row=pd.DataFrame([[11,13],[17,19]],columns=['two','three'])
table=table.append(row)
table=table.drop('a')
print(table)

   one  two  three
b  2.0    2   20.0
c  3.0    3   30.0
d  4.0    4    NaN
0  NaN   11   13.0
1  NaN   17   19.0
0  NaN   11   13.0
1  NaN   17   19.0

C:\Users\azart\AppData\Local\Temp\ipykernel_24852\389079256.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table=table.append(row)

In [ ]:
#DataFrame read_csv(),to_csv,read_excel(),to_excel()