In [1]:
pid=100
print(pid)

100

In [5]:
#Runtime input
p1=int(input("Enter the p1 value is::"))
p2=int(input("Enter the p2 value is::"))
result=p1*p2
#print("Your value is::",p1,p2)
print("Your result is::",result)

Enter the p1 value is::2
Enter the p2 value is::2
Your result is:: 4

In [6]:
#Control Statement
#Nested if statememt
age=int(input("Enter the age is::"))
if(age>60):
    salary=int(input("Enter the salary is::"))
    if(salary>=2000):
        bns=salary+1000;
        print("Your salary is::",bns)
    else:
        bns=salary+2000;
        print("Your salary is::",bns)
else:
    print("Your age is low..")

Enter the age is::62
Enter the salary is::2000
Your salary is:: 3000

In [8]:
#Looping

for i in range(2,10,2):
    print("I value is::",i)

I value is:: 2
I value is:: 4
I value is:: 6
I value is:: 8

In [9]:
#Nested for loop

for i in range(3):
    for j in range(3):
        print("I value is::",i,"J value is::",j)

I value is:: 0 J value is:: 0
I value is:: 0 J value is:: 1
I value is:: 0 J value is:: 2
I value is:: 1 J value is:: 0
I value is:: 1 J value is:: 1
I value is:: 1 J value is:: 2
I value is:: 2 J value is:: 0
I value is:: 2 J value is:: 1
I value is:: 2 J value is:: 2

In [1]:
#Pattern Programs
for x in range(1,6):
    for y in range(1,6):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [2]:
for x in range(1,6):
    for y in range(1,6):
        print(x,end="")
    print()

11111
22222
33333
44444
55555

In [3]:
for x in range(1,6):
    for y in range(1,6):
        print(y,end="")
    print()

12345
12345
12345
12345
12345

In [4]:
n=int(input("Enter the n value is::"))
i=0
while(i<=n):
    print("I value is::",i)
    i=i+1

Enter the n value is::5
I value is:: 0
I value is:: 1
I value is:: 2
I value is:: 3
I value is:: 4
I value is:: 5

In [7]:
for i in range(5):
    if i==3:
        #break
        continue
    print("I value after the break...",i)

I value after the break... 0
I value after the break... 1
I value after the break... 2
I value after the break... 4

In [ ]:
#Function
#A function is divided into small programs
#A function is performed an specific action
#using as keyword as def
#default parameter
#pass statement
#Param statement

In [8]:
def Sample():
    print("This is Sample function")
Sample()

This is Sample function

In [13]:
def Product():
    pid=int(input("Enter the pid is::"))
    pname=input("Enter the pname is::")
    print("Your value is::",pid,pname)
def Category(cid,cname):
    print("Your Category value is::",cid,cname)
def emptyfunction():
    pass
Product()
Category(2001,"mobile")

Enter the pid is::100
Enter the pname is::apple
Your value is:: 100 apple
Your Category value is:: 2001 mobile

In [14]:
#Function Recursion
def fun1(k):
    if(k>0):
        print("K value::",k)
        result=k+fun1(k-1)
        print("Check::",k-1)
        print("If statement::",result)
    else:
        result=0
    return result
print("Recursion Example")
fun1(3)

Recursion Example
K value:: 3
K value:: 2
K value:: 1
Check:: 0
If statement:: 1
Check:: 1
If statement:: 3
Check:: 2
If statement:: 6

6

In [15]:
#Pass by value and pass by reference
def product(items):
    products=[]
    print(items)
    for i in items:
        products.append(i**2)
    print(products)
my1=[10,20,30,40]
product(my1)

[10, 20, 30, 40]
[100, 400, 900, 1600]

In [16]:
#default value

def display(studentname,collegename="vsb"):
    print("Your value is::",studentname,collegename)
display("azar")

Your value is:: azar vsb

In [ ]:
#Function Lambda
#A lambda function is a small anonymous function
#A lambda function can take any number of arguments but can only have one expression
#lambda arguments:expression

In [2]:
x=lambda a:a+10
print(x(5))
x=lambda a,b:a*b
print(x(5,6))

15
30

In [ ]:
#String Opeartions in Python
#Python has a set of built in methods that you can use on String
# capitalize()
# casefold()
# isupper()
# islower()

In [6]:
str1="welcome"
print(str1.capitalize())
print(str1.islower())
print(str1.isupper())
print(str1.swapcase())

Welcome
True
False
WELCOME

In [7]:
print(str1[0:3])

wel

In [8]:
print(str1[-3:-1])

om

In [9]:
print(str1[::2])

wloe

In [ ]:
#String Operators
# +,*,[],[:],in,not,in,%

In [10]:
str1

'welcome'

In [12]:
print('w' in str1)

True

In [14]:
print('a' not in str1)

True

In [16]:
#format()method
Integer=10
float=1.2
String="azar"
print("Its is an Integer value is::%d")
print("It is an float value is::%f")

Its is an Integer value is::%d
It is an float value is::%f

In [21]:
print(str1.startswith('w'))
print(str1.endswith('e'))

True
True

In [22]:
print(str1.isalnum())

True

In [23]:
print(str1.isdigit())

False

In [24]:
print(str1.upper())

WELCOME

In [29]:
#lstrip
str1=" welcome "
print(str1)
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())

 welcome
welcome
 welcome
welcome

In [34]:
str2="This is good batch"
#t3=str2.replace('is','was')
print(str2)
print(str2.replace('is','was',1))

This is good batch
Thwas is good batch

In [37]:
str1="LW is best"
#str2=str1.rsplit()
str2=str1.rsplit('is',1)
print(str2)

['LW ', ' best']

In [ ]:
#task
# zfill()
# swapcase()
# splitlines()
# rjust()
# rfind()
# ljust()
# partition()

In [ ]:
#List-DataStructure
#List are used to store multiple items in a single variable.

In [2]:
list1=[10,20,30,40]
print(list1)
print(type(list1))
list2=[10,2.5,"Azar",'a']
print(list2)

[10, 20, 30, 40]
<class 'list'>
[10, 2.5, 'Azar', 'a']

In [3]:
list1

[10, 20, 30, 40]

In [7]:
print(list1[0])
print(list1[0:3])
print(list1[-3:-1])
print(list1[::2])

10
[10, 20, 30]
[20, 30]
[10, 30]

In [8]:
#Allow duplicate value
name=["azar","azar","mohamed","mohan"]
print(name)
print(type(name))

['azar', 'azar', 'mohamed', 'mohan']
<class 'list'>

In [10]:
#list()constructor
list2=list(("a1","a2","a3","a4"))
print(list2)
print(type(list2))

['a1', 'a2', 'a3', 'a4']
<class 'list'>

In [11]:
name

['azar', 'azar', 'mohamed', 'mohan']

In [12]:
name[0]="raja"
print(name)

['raja', 'azar', 'mohamed', 'mohan']

In [13]:
if "azar" in name:
    print("Yes data is found")

Yes data is found

In [15]:
if "azar1" in name:
    print("yes data is found")
else:
    print("No data is not found")

No data is not found

In [17]:
name.insert(0,"a1")
print(name)

['a1', 'raja', 'azar', 'mohamed', 'mohan']

In [18]:
name.append("b1")
print(name)

['a1', 'raja', 'azar', 'mohamed', 'mohan', 'b1']

In [20]:
list1.extend(name)
print(list1)

[10, 20, 30, 40, 'a1', 'raja', 'azar', 'mohamed', 'mohan', 'b1']

In [21]:
list1

[10, 20, 30, 40, 'a1', 'raja', 'azar', 'mohamed', 'mohan', 'b1']

In [22]:
list1.remove('b1')
print(list1)

[10, 20, 30, 40, 'a1', 'raja', 'azar', 'mohamed', 'mohan']

In [23]:
list1.pop()
print(list1)

[10, 20, 30, 40, 'a1', 'raja', 'azar', 'mohamed']

In [25]:
list1.pop(1)
print(list1)

[10, 30, 40, 'a1', 'raja', 'azar', 'mohamed']

In [26]:
del list1[0]
list1

[30, 40, 'a1', 'raja', 'azar', 'mohamed']

In [28]:
list2.clear()

In [29]:
list2

[]

In [30]:
list1

[30, 40, 'a1', 'raja', 'azar', 'mohamed']

In [31]:
for x in list1:
    print(x)

30
40
a1
raja
azar
mohamed

In [32]:
for i in range(len(list1)):
    print(i)

0
1
2
3
4
5

In [34]:
i=0
while(i<len(list1)):
    print(list[i])
    i=i+1

list[0]
list[1]
list[2]
list[3]
list[4]
list[5]

In [35]:
list2

[]

In [39]:
list4=["a1","a2","a3","a4"]

In [43]:
list2=[]
for i in list4:
    if "a2" in i:
        list2.append(i)
print(list2)

['a2']

In [44]:
list1

[30, 40, 'a1', 'raja', 'azar', 'mohamed']

In [47]:
list1.reverse()
list1

['mohamed', 'azar', 'raja', 'a1', 40, 30]

In [48]:
my1=list1.copy()
print(my1)

['mohamed', 'azar', 'raja', 'a1', 40, 30]

In [ ]:
#Tuples
#Tuples are used to store multiple items in a single variable.

In [1]:
tup1=(10,20,30,40)
print(tup1)
print(type(tup1))

(10, 20, 30, 40)
<class 'tuple'>

In [3]:
#tup1[0]=100

In [5]:
tup2=("a1","a1","a2","a3")
print(tup2)

('a1', 'a1', 'a2', 'a3')

In [6]:
print(len(tup2))

4

In [9]:
tup3=("a1",34,True,400)
print(tup3)
print(type(tup3))

('a1', 34, True, 400)
<class 'tuple'>

In [11]:
#Tuple Constructor
t1=tuple(("a1","a2","a3"))
print(t1)
print(type(t1))

('a1', 'a2', 'a3')
<class 'tuple'>

In [14]:
#Access tuple items
print(tup1)
print(tup1[0])
print(tup1[0:3])
print(tup1[-3:-1])

(10, 20, 30, 40)
10
(10, 20, 30)
(20, 30)

In [18]:
if 11 in tup1:
    print("Yes","Its Found")
else:
    print("No","Its Not Found")

No Its Not Found

In [19]:
x=("a1","a2","a3")
y=list(x)
y[1]="b1"
x=tuple(y)
print(x)
print(type(x))

('a1', 'b1', 'a3')
<class 'tuple'>

In [22]:
#Add items in the tuples
y=list(x)
y.append("b2")
x=tuple(y)
x

('a1', 'b1', 'a3', 'b2', 'b2')

In [25]:
#Remove the value in tuples
y=list(x)
y.remove("a1")
x=tuple(y)

In [28]:
x

NameError: name 'x' is not defined

In [27]:
del x

In [29]:
#Unpacking a Tuple
#When we create a tuple we normally assign values to it.This is called packing a tuple

In [30]:
tup1

(10, 20, 30, 40)

In [31]:
(a1,a2,a3,a4)=tup1
print(a1)
print(a2)
print(a3)
print(a4)

10
20
30
40

In [33]:
(a1,a2,*a3)=tup1
print(a1)
print(a2)
print(a3)

10
20
[30, 40]

In [34]:
#Looping in the tuples
tup1

(10, 20, 30, 40)

In [35]:
for x in tup1:
    print(x)

10
20
30
40

In [37]:
for i in range(len(tup1)):
    print(tup1[i])

10
20
30
40

In [40]:
print(tup1)
print(tup2)
print(tup1+tup2)
print(tup1*2)

(10, 20, 30, 40)
('a1', 'a1', 'a2', 'a3')
(10, 20, 30, 40, 'a1', 'a1', 'a2', 'a3')
(10, 20, 30, 40, 10, 20, 30, 40)

In [43]:
#Tuples methods
#Count()
#index()
# x=tup1.count(10)
# print(x)
x=tup1.index(10)
print(x)

0

In [ ]:
#Dictionary
#Dictionary are used to store data values in key-value pairs.
#A dictionary is a collection which is ordered and do not all duplicates

In [1]:
dict1={101:"azar",102:"mohan",103:"sai"}
print(dict1)

{101: 'azar', 102: 'mohan', 103: 'sai'}

In [2]:
dict1[101]

'azar'

In [3]:
#Duplicates not allowed
dict2={101:"a1",101:"a2"}
print(dict2)

{101: 'a2'}

In [6]:
print(len(dict2))
print(len(dict1))
print(type(dict1))

1
3
<class 'dict'>

In [7]:
#dict()Constructor
t1=dict(name="azar",age=33,city="krr")
print(t1)

{'name': 'azar', 'age': 33, 'city': 'krr'}

In [8]:
dict1

{101: 'azar', 102: 'mohan', 103: 'sai'}

In [10]:
x=dict1.get(101)
print(x)

azar

In [11]:
dict1.keys()

dict_keys([101, 102, 103])

In [12]:
dict1.items()

dict_items([(101, 'azar'), (102, 'mohan'), (103, 'sai')])

In [13]:
dict1.values()

dict_values(['azar', 'mohan', 'sai'])

In [15]:
dict1
if 101 in dict1:
    print("Yes","found")
else:
    print("No","Not Found")

Yes found

In [16]:
dict1

{101: 'azar', 102: 'mohan', 103: 'sai'}

In [17]:
dict1[101]="azar1"
dict1

{101: 'azar1', 102: 'mohan', 103: 'sai'}

In [18]:
dict1.update({104:"a1"})
print(dict1)

{101: 'azar1', 102: 'mohan', 103: 'sai', 104: 'a1'}

In [19]:
#Removing the items
dict1

{101: 'azar1', 102: 'mohan', 103: 'sai', 104: 'a1'}

In [20]:
dict1.pop(101)

print(dict1)

{102: 'mohan', 103: 'sai', 104: 'a1'}

In [21]:
dict1.popitem()
print(dict1)

{102: 'mohan', 103: 'sai'}

In [ ]:
#del dict1
#clear dict1

In [22]:
for x in dict1:
    print(x)

102
103

In [23]:
for x in dict1:
    print(dict1[x])

mohan
sai

In [24]:
for x in dict1.items():
    print(x)

(102, 'mohan')
(103, 'sai')

In [25]:
for x in dict1.keys():
    print(x)

102
103

In [26]:
for x,y in dict1.items():
    print(x,y)

102 mohan
103 sai

In [27]:
d1=dict1.copy()
print(d1)

{102: 'mohan', 103: 'sai'}

In [28]:
my1={
    "c1":{
    101:"a1",
    102:"a2"
    },
    "c2":{
        201:"b1",
        202:"b2"
    },
}
print(my1)

{'c1': {101: 'a1', 102: 'a2'}, 'c2': {201: 'b1', 202: 'b2'}}

In [30]:
#Access items in Nested dictionaries
print(my1["c1"],[101])

{101: 'a1', 102: 'a2'} [101]

In [ ]:
#Dictionaries
# clear()
# copy()
# fromkeys()
# get()
# items()
# keys()
# pop()
# popitem()
# update()
# values()
# setdefault()

In [32]:
#setdefault() method return the value of the items with the specified key
x=dict1.setdefault(201,"azar")
x

'azar'

In [ ]:
#Set Concepts

In [1]:
empname={"azar","mohamed","sheik"}
print(empname)
print(type(empname))

{'mohamed', 'sheik', 'azar'}
<class 'set'>

In [3]:
s1=set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [5]:
#add() and update()
studname=set(["azar","mohamed","azar1","mohamed1"])
print(studname)
studname.add("azar2")

{'mohamed', 'azar1', 'mohamed1', 'azar'}

In [6]:
studname

{'azar', 'azar1', 'azar2', 'mohamed', 'mohamed1'}

In [7]:
studname.update(["a1","b1","c1"])
print(studname)

{'azar2', 'c1', 'azar1', 'mohamed', 'a1', 'b1', 'mohamed1', 'azar'}

In [8]:
studname.discard("a1")

In [9]:
studname

{'azar', 'azar1', 'azar2', 'b1', 'c1', 'mohamed', 'mohamed1'}

In [10]:
studname.pop()

'azar2'

In [11]:
studname

{'azar', 'azar1', 'b1', 'c1', 'mohamed', 'mohamed1'}

In [ ]:
#Python set operations

In [17]:
#union of set
s1={"a1","b1","c1"}
s2={"a2","b2","c1"}
print(s1|s2)
print(s1.union(s2))

{'a1', 'b1', 'c1', 'a2', 'b2'}
{'a1', 'b1', 'c1', 'a2', 'b2'}

In [ ]:
#Intersection of sets

In [18]:
s1

{'a1', 'b1', 'c1'}

In [19]:
s2

{'a2', 'b2', 'c1'}

In [20]:
print(s1&s2)

{'c1'}

In [22]:
s3={"a2","a3","c1"}

In [23]:
s1.intersection_update(s2,s3)
print(s1)

{'c1'}

In [24]:
print(s1-s2)

set()

In [25]:
s1

{'c1'}

In [26]:
s2

{'a2', 'b2', 'c1'}

In [27]:
print(s3.difference(s2))

{'a3'}

In [28]:
c=s2.symmetric_difference(s3)
print(c)

{'b2', 'a3'}

In [ ]:
#What is Stack?

In [ ]:
#Methods in Stack
# empty()
# size()
# top()
# push(d)
# pop()

In [29]:
#Implementation of List
my_stack=[]
my_stack.append('x')
my_stack.append('y')
my_stack.append('z')
print(my_stack)

['x', 'y', 'z']

In [31]:
print(my_stack.pop())
print(my_stack)

y
['x']

In [36]:
#Implementation of deque
from collections import deque 
my=deque()
my.append('a')
my.append('b')
my.append('c')

In [37]:
print(my)

deque(['a', 'b', 'c'])

In [ ]:
#pop()

In [ ]:
#Implementation uing LifoQueue Modules

In [ ]:
# empty()
# maxsize()
# get()
# full()
# put()