In [1]:
pid=100
print(pid)

100

In [5]:
#Runtime input
p1=int(input("Enter the p1 value is::"))
p2=int(input("Enter the p2 value is::"))
result=p1*p2
#print("Your value is::",p1,p2)
print("Your result is::",result)

Enter the p1 value is::2
Enter the p2 value is::2
Your result is:: 4

In [6]:
#Control Statement
#Nested if statememt
age=int(input("Enter the age is::"))
if(age>60):
    salary=int(input("Enter the salary is::"))
    if(salary>=2000):
        bns=salary+1000;
        print("Your salary is::",bns)
    else:
        bns=salary+2000;
        print("Your salary is::",bns)
else:
    print("Your age is low..")

Enter the age is::62
Enter the salary is::2000
Your salary is:: 3000

In [8]:
#Looping

for i in range(2,10,2):
    print("I value is::",i)

I value is:: 2
I value is:: 4
I value is:: 6
I value is:: 8

In [9]:
#Nested for loop

for i in range(3):
    for j in range(3):
        print("I value is::",i,"J value is::",j)

I value is:: 0 J value is:: 0
I value is:: 0 J value is:: 1
I value is:: 0 J value is:: 2
I value is:: 1 J value is:: 0
I value is:: 1 J value is:: 1
I value is:: 1 J value is:: 2
I value is:: 2 J value is:: 0
I value is:: 2 J value is:: 1
I value is:: 2 J value is:: 2

In [1]:
#Pattern Programs
for x in range(1,6):
    for y in range(1,6):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [2]:
for x in range(1,6):
    for y in range(1,6):
        print(x,end="")
    print()

11111
22222
33333
44444
55555

In [3]:
for x in range(1,6):
    for y in range(1,6):
        print(y,end="")
    print()

12345
12345
12345
12345
12345

In [4]:
n=int(input("Enter the n value is::"))
i=0
while(i<=n):
    print("I value is::",i)
    i=i+1

Enter the n value is::5
I value is:: 0
I value is:: 1
I value is:: 2
I value is:: 3
I value is:: 4
I value is:: 5

In [7]:
for i in range(5):
    if i==3:
        #break
        continue
    print("I value after the break...",i)

I value after the break... 0
I value after the break... 1
I value after the break... 2
I value after the break... 4

In [ ]:
#Function
#A function is divided into small programs
#A function is performed an specific action
#using as keyword as def
#default parameter
#pass statement
#Param statement

In [8]:
def Sample():
    print("This is Sample function")
Sample()

This is Sample function

In [13]:
def Product():
    pid=int(input("Enter the pid is::"))
    pname=input("Enter the pname is::")
    print("Your value is::",pid,pname)
def Category(cid,cname):
    print("Your Category value is::",cid,cname)
def emptyfunction():
    pass
Product()
Category(2001,"mobile")

Enter the pid is::100
Enter the pname is::apple
Your value is:: 100 apple
Your Category value is:: 2001 mobile

In [14]:
#Function Recursion
def fun1(k):
    if(k>0):
        print("K value::",k)
        result=k+fun1(k-1)
        print("Check::",k-1)
        print("If statement::",result)
    else:
        result=0
    return result
print("Recursion Example")
fun1(3)

Recursion Example
K value:: 3
K value:: 2
K value:: 1
Check:: 0
If statement:: 1
Check:: 1
If statement:: 3
Check:: 2
If statement:: 6

6

In [15]:
#Pass by value and pass by reference
def product(items):
    products=[]
    print(items)
    for i in items:
        products.append(i**2)
    print(products)
my1=[10,20,30,40]
product(my1)

[10, 20, 30, 40]
[100, 400, 900, 1600]

In [16]:
#default value

def display(studentname,collegename="vsb"):
    print("Your value is::",studentname,collegename)
display("azar")

Your value is:: azar vsb

In [ ]:
#Function Lambda
#A lambda function is a small anonymous function
#A lambda function can take any number of arguments but can only have one expression
#lambda arguments:expression

In [2]:
x=lambda a:a+10
print(x(5))
x=lambda a,b:a*b
print(x(5,6))

15
30

In [ ]:
#String Opeartions in Python
#Python has a set of built in methods that you can use on String
# capitalize()
# casefold()
# isupper()
# islower()

In [6]:
str1="welcome"
print(str1.capitalize())
print(str1.islower())
print(str1.isupper())
print(str1.swapcase())

Welcome
True
False
WELCOME

In [7]:
print(str1[0:3])

wel

In [8]:
print(str1[-3:-1])

om

In [9]:
print(str1[::2])

wloe

In [ ]:
#String Operators
# +,*,[],[:],in,not,in,%

In [10]:
str1

'welcome'

In [12]:
print('w' in str1)

True

In [14]:
print('a' not in str1)

True

In [16]:
#format()method
Integer=10
float=1.2
String="azar"
print("Its is an Integer value is::%d")
print("It is an float value is::%f")

Its is an Integer value is::%d
It is an float value is::%f

In [21]:
print(str1.startswith('w'))
print(str1.endswith('e'))

True
True

In [22]:
print(str1.isalnum())

True

In [23]:
print(str1.isdigit())

False

In [24]:
print(str1.upper())

WELCOME

In [29]:
#lstrip
str1=" welcome "
print(str1)
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())

 welcome
welcome
 welcome
welcome

In [34]:
str2="This is good batch"
#t3=str2.replace('is','was')
print(str2)
print(str2.replace('is','was',1))

This is good batch
Thwas is good batch

In [37]:
str1="LW is best"
#str2=str1.rsplit()
str2=str1.rsplit('is',1)
print(str2)

['LW ', ' best']

In [ ]:
#task
# zfill()
# swapcase()
# splitlines()
# rjust()
# rfind()
# ljust()
# partition()

In [ ]:
#List-DataStructure